<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.ru.languageininteraction.synquiz" 
        version="${application.majorVersion}.${application.minorVersion}.${application.buildVersion}" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SynQuiz</name>

    <description>
        A mobile synesthesia battery.
    </description>

    <author href="https://github.com/languageininteraction/GraphemeColourSynaesthesiaApp" email="">
        Peter Withers, Language In Interaction, Radboud University
    </author>

    <content src="index.html" />
    <!-- no permissions are needed other than the mandatory INTERNET permission. -->
    <preference name="permissions"                value="none"/>

    <preference name="phonegap-version"           value="3.6.3" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <!--    <preference name="ios-statusbarstyle"         value="black-translucent" />    ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar 
    <preference name="StatusBarOverlaysWebView" value="false" />-->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <!--<preference name="EnableViewportScale" value="true" />-->
    <!--<preference name="KeyboardDisplayRequiresUserAction" value="false" /> it is unconfirmed if this preference is required for the keybard to show correctly -->
    <!--<preference name="KeyboardShrinksView" value="true" />-->
    <preference name="DisallowOverscroll" value="true" />
    <icon src="images/icon.png" />
    
    <!-- enable the splash screen for android -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    
    <feature name="Keyboard">
        <param name="ios-package" value="CDVKeyboard" onload="true" />
    </feature>
    <access origin="*"/> <!-- allow local pages -->
</widget>