<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.ru.languageininteraction.languagememory" 
        version="${application.majorVersion}.${application.minorVersion}.${application.buildVersion}" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Language Memory</name>

    <description>
        Language Memory is a game where players learn about rare and exotic languages in the holdings of The Language Archive / Max-Planck-Institute for Psycholinguistics by listening to clips from the languages and matching clips of the same language. Combining a general interest in cultural diversity with a simple game interface has proven extremely popular with casual social gamers, as the popularity of ‘the Great Language Game’ has shown. This app improves these concepts by including a greater number of more diverse languages and collecting crucial data on players’ performance and linguistic backgrounds. The app offers links to more information on each language from a range of databases.
    </description>

    <author href="https://github.com/languageininteraction/LanguageMemoryApp" email="">
        Peter Withers, Language In Interaction, Radboud University
    </author>

    <content src="index.html" />
    <!-- no permissions are needed other than the mandatory INTERNET permission. -->
    <preference name="permissions"                value="none"/>

    <preference name="phonegap-version"           value="3.6.3" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <!--    <preference name="ios-statusbarstyle"         value="black-translucent" />    ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar 
    <preference name="StatusBarOverlaysWebView" value="false" />-->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="9" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <!--<preference name="EnableViewportScale" value="true" />-->
    <!--<preference name="KeyboardDisplayRequiresUserAction" value="false" /> it is unconfirmed if this preference is required for the keybard to show correctly -->
    <!--<preference name="KeyboardShrinksView" value="true" />-->
    <preference name="DisallowOverscroll" value="true" />
    <icon src="images/icon.png" />
    <!--    <platform name="ios">
        <icon src="images/icon-60@3x.png" width="180" height="180" />
        <icon src="images/icon-60.png" width="60" height="60" />
        <icon src="images/icon-60@2x.png" width="120" height="120" />
        <icon src="images/icon-76.png" width="76" height="76" />
        <icon src="images/icon-76@2x.png" width="152" height="152" />
        <icon src="images/icon-40.png" width="40" height="40" />
        <icon src="images/icon-40@2x.png" width="80" height="80" />
        <icon src="images/icon.png" width="57" height="57" />
        <icon src="images/icon@2x.png" width="114" height="114" />
        <icon src="images/icon-72.png" width="72" height="72" />
        <icon src="images/icon-72@2x.png" width="144" height="144" />
        <icon src="images/icon-small.png" width="29" height="29" />
        <icon src="images/icon-small@2x.png" width="58" height="58" />
        <icon src="images/icon-50.png" width="50" height="50" />
        <icon src="images/icon-50@2x.png" width="100" height="100" />
    </platform>-->
    
    <!-- enable the splash screen for android -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    
    <feature name="Keyboard">
        <param name="ios-package" value="CDVKeyboard" onload="true" />
    </feature>
    <access origin="*"/> <!-- allow local pages -->
</widget>