.Android .gwt-Label.headerArrow {
    margin-right: 10px;
}

.Android .gwt-Label.headerArrow {
    border-right: 10px solid rgb(142,207,230);
}

.gwt-Label.headerArrow {
    width: 0; 
    height: 0; 
    position: relative;
    top: 9px;
    left:5px;
    border-top: 15px solid transparent;
    border-bottom: 17px solid transparent; 
    border-right:17px solid white;
    margin-right: 0px;
    cursor: pointer;
    /*z-index: 1;*/
}

.Android .gwt-Label.headerButton {
    display: none;
}
.gwt-Label.headerButton {
    position: relative;
    top: 5px;
    padding: 5px;
    margin-left: 0px;
    display: block;
    display: inline-block;
    color: black;
    text-decoration: none;
    /*border-color: rgb(0,158,200);*/
    border-radius: 15px;
    /*    border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;*/
    height: 30px;
}

.gwt-Label.headerIcon {
    display: none;
}
.Android .gwt-Label.headerIcon {
    display: block;
    background: url("./images/icon.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    height: 50px;
    width:50px;
    border: none;
    /*cursor: pointer;*/
}

.headerLabel {
    padding: 10px 10px;
    font-size: 30px;
}

.gwt-Button.stimulusButton, .gwt-Button.stimulusQuitButton {
    display: block;
    display: inline-block;
    padding:  5px 10px;
    /*margin: 0 10px 10px 0;*/
    color: black;
    text-decoration: none;
    border-color: rgb(111,111,111);;
    border-radius: 5px;
    outline: none;
}
.gwt-CheckBox.optionCheckBox input {    
    height: 40px;
    width: 40px;
}

.gwt-Button.optionButton {
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 15px;
    /*background: rgb(193,227,241);*/
    outline: none;
    display: block;
    display: inline-block;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-color: rgb(0,158,200);
    outline: none;
    height: 40px;
    width: 100%;
}

#widgetTag, .stimulusScreen, .menuTable, .gwt-Label.stimulusProgressLabel, .gwt-Button.nextButton, .gwt-Button.menuButton,.gwt-Button.stimulusHelpButton, .gwt-Button.stimulusQuitButton, .gwt-Button.stimulusButton, .gwt-Button.optionButton, .gwt-Label.headerButton {
    /* prevent text selection on the buttons */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* end prevent text selection on the buttons */
}

.gwt-Button.stimulusHelpButton:active, .gwt-Button.stimulusQuitButton:active, .gwt-Button.stimulusButton:active, .gwt-Button.stimulusHelpButton:hover, .gwt-Button.stimulusQuitButton:hover, .gwt-Button.stimulusButton:hover {
    background:lightgrey;
    border: none;
}

/*.gwt-Button.nextButton:disabled, .gwt-Button.menuButton:disabled, .gwt-Button.optionButton:disabled, .gwt-Label.headerButton:disabled {
    border: none;
}*/

/*.gwt-Button.nextButton:hover, .gwt-Button.menuButton:hover, .gwt-Button.optionButton:hover, .gwt-Label.headerButton:hover, */
.gwt-Button.nextButton:active, .gwt-Button.menuButton:active, .gwt-Button.optionButton:active, .gwt-Label.headerButton:active {
    /*background:rgb(0,158,200);*/
    /*background:rgb(246,170,139);*/
    background:lightgrey;
    border: none;
}
.gwt-Button.nextButton, .gwt-Button.menuButton,.gwt-Button.stimulusHelpButton, .gwt-Button.stimulusQuitButton, .gwt-Button.stimulusButton, .gwt-Button.optionButton, .gwt-Label.headerButton {
    cursor: pointer;
    border-width: 0px;
    border-style: none;
    border: none;
    outline: none;
    background: white;
}
.gwt-Button.nextButton {
    display: block;
    display: inline-block;
    color: black;
    text-decoration: none;
    border-color: rgb(0,158,200);
    border-radius: 15px;
    outline: none;
    width: 80%;
    height: 40px;
}

.gwt-Button.menuButton {
    /*background:rgb(246,170,139);*/
    display: block;
    display: inline-block;
    /*background: rgb(193,227,241);*/
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    color: black;
    border-color: rgb(0,158,200);
    /*border-color: rgb(142,207,230);*/
    text-decoration: none;
    /*border-color: transparent;*/
    border-radius: 15px;
    outline: none;
    width: 100%;
}

.gwt-Button.stimulusHelpButton, .gwt-Button.stimulusQuitButton {
    border-radius: 25px;
    padding: 5px 10px;
    height: 51px;
    width: 51px;
}
.gwt-Button.stimulusQuitButton {
    float: right;
}
.gwt-Button.stimulusHelpButton {
    float: left;
}

.contentPanel {
    border-top-color: white;
    border-top-width: 1px;
    border-top-style: solid;
}

.contentBody, .menuOuter {
    margin-top: 50px;    
    margin-bottom: -50px;    
    margin-left: 10%;   
    margin-right: 10%;   
}

.menuOuter {
    width: 80%;
}
.bargraphInner {
    background-color:rgb(246,170,139);
}

.bargraphOuter {
    border: rgb(111,111,111);
    border-width: 1px;
    border-style: solid;
}

canvas {
    outline: none;
    border: grey;
    border-width: 1px;
    border-style: solid;
}

.stimulusHelpText {
    font-size: 17pt;
    color: black;
    padding: 10px 10px 10px 10px;
}

.stimulusHelpPanel {
    border: rgb(111,111,111); 
    background: white;
    border-width: 3px;
    border-style: solid;

}

.stimulusPanel {    
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 40px 10px;
}

.stimulusScreen {
    background: black;
}

.menuTable {
    padding: 10px 10px;
    border-color: rgb(142,207,230);
    border-radius: 15px;
    outline: none;
    border-width: 1px;
    border-style: solid;
}
.gwt-HTML, .resultsTablePanel, .metadataTable, .menuTable, .gwt-CheckBox, .pageLink {
}
.resultsTableTitle {
    font-size: 24pt;
}
.gwt-Label.stimulusProgressLabel {
    text-align: center;
    /*width: 100%;*/
}

.metadataError {
    background: rgb(246,170,139);
}

.gwt-Label, .gwt-HTML, .gwt-CheckBox, .pageLink, .contentBody, .metadataError, .metadataOK,
.gwt-Button.nextButton, .gwt-Button.menuButton,.gwt-Button.stimulusHelpButton, .gwt-Button.stimulusQuitButton, .gwt-Button.stimulusButton, .gwt-Button.optionButton, .gwt-Label.headerButton {  
    font-size: 17pt;
    /*    
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16pt;
    line-height: 20pt;
    */
}

.menuTable .gwt-HTML, .menuTable.gwt-HTML .highlightedText {
    text-align: center;
}

.gwt-HTML.highlightedText {
    font-weight: bold; 
    /*text-transform: uppercase;*/
}

.gwt-Label, .gwt-HTML, .headerLabel, .resultsTableTitle, .gwt-CheckBox, .pageLink, .contentBody {
    color:rgb(255,255,255);  
    line-height: 20pt;
} 
.gwt-Label, .gwt-HTML, .headerLabel, .resultsTableTitle, .gwt-CheckBox, .pageLink, .contentBody, 
.gwt-Button.nextButton, .gwt-Button.menuButton,.gwt-Button.stimulusHelpButton, .gwt-Button.stimulusQuitButton, .gwt-Button.stimulusButton, .gwt-Button.optionButton, .gwt-Label.headerButton 
{  
    font-family: Calibri, "Open Sans", "Droid Sans", Arial, Candara, Segoe, "Segoe UI", Optima, sans-serif;
}

#widgetTag {
    height: 100%;
    background-color:rgb(0,158,200);
    background: -webkit-linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* Standard syntax (must be last) */
}

/*
Language in Interaction uses a fixed color sequence. 
The main colors are blue and red, with shades derivative thereof. 
In addition, black, gray and white are used.
*/
.PMS632 {background-color:rgb(0,158,200);}
.PMS632-50 {background-color:rgb(142,207,230);}
.PMS632-30 {background-color:rgb(193,227,241);}
.PMS1788 {background-color:rgb(239,43,45);}
.PMS1788-50 {background-color:rgb(246,170,139);}
.zwart {background-color:rgb(0,0,0);}
.zwart-50 {background-color:rgb(111,111,111);}
.wit {background-color:rgb(255,255,255);}

/*
It may happen that there are additional colors are needed. 
Alongside are a series of colors that fit well with the main colors of Language in Interaction.
These colors may be also used in secondary colors (preferably in the percentages of 50% and 30%).
*/
/*
#PMS 7447 r108 g99 b154
#PMS 3405 r0 g164 b122
#PMS 613 r199 g178 b0

#PMS 411 r104 g85 b70
#PMS 506 r139 g34 b31
#PMS 506
r239 g123 b16
*/

/*
COLOUR BACKGROUND 
In order to suggest, more depth use can be made of a color gradient.
*/

/*PMS 632 - 50% r142 g207 b230 to PMS 632 r0 g158 b200 */
.gradientPMS632-632-50 {
    height: 100%;
    background: -webkit-linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(0,158,200), rgb(142,207,230)); /* Standard syntax (must be last) */
}

/*
wit
r255 g255 b255
to
PMS 632 - 50% r142 g207 b230
*/